
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #b6b7b7;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  height: 60px;
  background: rgba(88, 144, 139, 0.9);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar h3 {
  font-weight: 400;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}

.app-title {
  font-size: 22px;
  font-weight: 600;
  color: #ffdf6c;
}

.emergency-setup {
  max-width: 900px;
  margin: 50px auto 20px;
  background-color: #f70404;
  padding: 30px;
  border-radius: 14px;
}

.emergency-setup h2 {
  margin-bottom: 6px;
}

.container {
  max-width: 850px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.subtitle {
  margin-bottom: 20px;
  color: #555;
}

.emergency-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
}

.card {
  background: #f4f4f4;
  padding: 20px 10px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  transition: 0.3s ease;
}

.card span {
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

.card:hover {
  background: #d6f5ec;
}

.card.active {
  background: #1abc9c;
  color: white;
}

#customType {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.hidden {
  display: none;
}

textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
}

/* SOS BOX */
.sos-box {
  margin-top: 25px;
  padding: 20px;
  border-radius: 14px;
  background: #fff3e0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  animation: slideDown 0.5s ease;
}

.sos-box h3 {
  margin-bottom: 8px;
  color: #b71c1c;
}

.sos-box p {
  font-size: 14px;
  color: #555;
}

/* SEND SOS BUTTON */
#sendSOSBtn {
  margin-top: 15px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: #d32f2f;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255,0,0,0.7);
  transition: transform 0.2s ease, opacity 0.2s;
}

#sendSOSBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#sendSOSBtn:hover:not(:disabled) {
  transform: scale(1.05);
}
#cancelBtn {
  margin-top: 25px;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #ff3b3b;
  border-radius: 30px;
  background: transparent;
  color: #ff3b3b;
  cursor: pointer;
  transition: all 0.3s ease;
}

#cancelBtn:hover {
  background: #ff3b3b;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 18px rgba(255,0,0,0.8);
}


/* COUNTDOWN */
.countdown {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #b71c1c;
}

.hidden {
  display: none;
}